<div class="col-sm-12">
    <div class="page-header">
        <h1 style="color: black; text-align: center;"> Have a query?</h1>
    </div>
    <form id="form" class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <input class="form-control" id="name" placeholder="Name" type="text">
            <!--<span id="alert">-->

            <!--</span>-->
        </div>
        <div class="form-group">
            <input class="form-control" id="email" placeholder="Email" type="text">

        </div>
        <div class="form-group">
            <input class="form-control" id="subject" placeholder="Subject" type="text">

        </div>

        <div class="form-group">
            <textarea class="form-control" id="comments" placeholder="Comments" rows=10"></textarea>

        </div>

        <button class="btn btn-primary col-md-offset-5" style="margin-bottom: 40px;" id="queryButton"> Done</button>

    </form>
    <div class="container">
        <div id="success" class="col-md-12">

        </div>
    </div>
</div>

<script>

    //        var abc = '';
    //        if (field.value == '') {
    ////            abc += '<span id="icon" style="font-size: 30px; color: red;" class="glyphicon glyphicon-exclamation-sign"></span>';
    //            abc += '<p> Fields are empty </p>';
    //        }
    //        $('#alert').html(abc);

    $('#queryButton').click(function (d) {

        d.preventDefault();
        var name = $('#name').val();
        var email = $('#email').val();
        var subject = $('#subject').val();
        var comments = $('#comments').val();

        if (name == '' || email == '' || subject == '' || comments == '') {
            var output = '';
            output += '<p id = "failureWindow"> Your query was not submitted. Kindly fill all the textfields above. </p>';
            $('#success').html(output);
        }
        else {
            console.log("name is" + name);
            console.log("name is" + email);
            console.log("name is" + subject);
            console.log("comment is" + comments);


            var output = '';
            output += '<p id = "successWindow"> Your query was submitted. we will get back to you as soon as possible. </p>';
            $('#success').html(output);

            var name = $('#name').val();
            var email = $('#email').val();
            var subject = $('#subject').val();
            var comments = $('#comments').val();


            $.post('/queryapi', {
                name: name,
                email: email,
                subject: subject,
                comments: comments
            });

            $('#form').each(function () {
                this.reset();
            });

        }
    });

    //    $('#queryButton').click(function (d) {
    //
    //        var output = '';
    //        output += '<p id = "successWindow"> Your query was submitted. we will get back to you as soon as possible. </p>';
    //        $('#success').html(output);
    //
    //        var name = $('#name').val();
    //        var email = $('#email').val();
    //        var subject = $('#subject').val();
    //        var comments = $('#comments').val();
    //
    //        d.preventDefault();
    //        $.post('/queryapi',{
    //            name: name,
    //            email: email,
    //            subject: subject,
    //            comments: comments
    //        });
    //
    //        $('#form').each(function () {
    //            this.reset();
    //        });
    //    });


</script>