<div class="container">
    <div class="page-header">
        <h1> Our Team</h1>
    </div>
    <div class="row">
        <div class="col-sm-2" style="text-align: center;">
            <img src="Images/stairs.jpg" class="img-circle" style="width: 150px; height: 150px; ">
            <h3> Sarah </h3>
            <p> Senior Software Developer</p>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <img src="Images/stairs.jpg" class="img-circle" style="width: 150px; height: 150px; ">
            <h3> Sarah </h3>
            <p> Senior Software Developer</p>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <img src="Images/stairs.jpg" class="img-circle" style="width: 150px; height: 150px; ">
            <h3> Sarah </h3>
            <p> Senior Software Developer</p>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <img src="Images/stairs.jpg" class="img-circle" style="width: 150px; height: 150px; ">
            <h3> Sarah </h3>
            <p> Senior Software Developer</p>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <img src="Images/stairs.jpg" class="img-circle" style="width: 150px; height: 150px; ">
            <h3> Sarah </h3>
            <p> Senior Software Developer</p>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <img src="Images/stairs.jpg" class="img-circle" style="width: 150px; height: 150px; ">
            <h3> Sarah </h3>
            <p> Senior Software Developer</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2" style="text-align: center;">
            <img src="Images/bike.jpg" class="img-circle" style="width: 150px; height: 150px; ">
            <h3> Sarah </h3>
            <p> Senior Software Developer</p>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <img src="Images/bike.jpg" class="img-circle" style="width: 150px; height: 150px; ">
            <h3> Sarah </h3>
            <p> Senior Software Developer</p>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <img src="Images/bike.jpg" class="img-circle" style="width: 150px; height: 150px; ">
            <h3> Sarah </h3>
            <p> Senior Software Developer</p>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <img src="Images/bike.jpg" class="img-circle" style="width: 150px; height: 150px; ">
            <h3> Sarah </h3>
            <p> Senior Software Developer</p>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <img src="Images/bike.jpg" class="img-circle" style="width: 150px; height: 150px; ">
            <h3> Sarah </h3>
            <p> Senior Software Developer</p>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <img src="Images/bike.jpg" class="img-circle" style="width: 150px; height: 150px; ">
            <h3> Sarah </h3>
            <p> Senior Software Developer</p>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-sm-2" style="text-align: center;">
            <img src="Images/urban1.jpg" class="img-circle" style="width: 150px; height: 150px; ">
            <h3> Sarah </h3>
            <p> Senior Software Developer</p>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <img src="Images/urban1.jpg" class="img-circle" style="width: 150px; height: 150px; ">
            <h3> Sarah </h3>
            <p> Senior Software Developer</p>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <img src="Images/urban1.jpg" class="img-circle" style="width: 150px; height: 150px; ">
            <h3> Sarah </h3>
            <p> Senior Software Developer</p>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <img src="Images/urban1.jpg" class="img-circle" style="width: 150px; height: 150px; ">
            <h3> Sarah </h3>
            <p> Senior Software Developer</p>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <img src="Images/urban1.jpg" class="img-circle" style="width: 150px; height: 150px; ">
            <h3> Sarah </h3>
            <p> Senior Software Developer</p>
        </div>
        <div class="col-sm-2" style="text-align: center;">
            <img src="Images/urban1.jpg" class="img-circle" style="width: 150px; height: 150px; ">
            <h3> Sarah </h3>
            <p> Senior Software Developer</p>
        </div>

    </div>
    <br>
</div>
<br>
<hr>
<br>