<section style="border-top: 2px solid black;">
    <div class="container">
        <div class="page-header" style="color: black; text-align: center;">
            <h1> Location</h1>
        </div>
        <div id="map"></div>
    </div>
</section>