<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="color: orange">Company</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="list" href="#" style="color: white"> Dashboard</a></li>
                <li><a class="list" href="/customers" style="color: white"> Customers</a></li>
                <li><a class="list" href="/reviews" style="color: white"> Reviews</a></li>
                <li><a class="list" href="/chat" style="color: white"> Talk to Us</a></li>
            </ul>
            <!--<form class="navbar-form navbar-right">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" placeholder="Search">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
            <!--</form>-->
        </div>
    </div>
</nav>