<div class="page-header">
    <h1> Services </h1>
</div>
<div class="row">
    <div class="col-sm-6">
        <h2> Accuracy </h2>
        <p class="services-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eum ipsam iure
            magnam, necessitatibus nisi nulla optio quos repudiandae sunt suscipit temporibus, vitae voluptate!
            Doloremque, error, eveniet! Recusandae, sit, totam!</p>
    </div>
    <div class="col-sm-6">
        <img class="img-responsive" src="Images/man.jpg">
    </div>
</div>
<br>
<hr>
<br>
<div class="row">
    <div class="col-sm-6">
        <img class="img-responsive" src="Images/mountains.jpg">
    </div>
    <div class="col-sm-6">
        <h2> Diversity </h2>
        <p class="services-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eum ipsam iure
            magnam, necessitatibus nisi nulla optio quos repudiandae sunt suscipit temporibus, vitae voluptate!
            Doloremque, error, eveniet! Recusandae, sit, totam!</p>
    </div>
</div>
<br>
<hr>
<br>
<div class="row">
    <div class="col-sm-6">
        <h2> Productivity </h2>
        <p class="services-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eum ipsam iure
            magnam, necessitatibus nisi nulla optio quos repudiandae sunt suscipit temporibus, vitae voluptate!
            Doloremque, error, eveniet! Recusandae, sit, totam!</p>
    </div>
    <div class="col-sm-6">
        <img class="img-responsive" src="Images/scene.jpg">
    </div>
</div>
<br>
<hr>
<br>
<div class="row">
    <div class="col-sm-6">
        <img class="img-responsive" src="Images/traffic.jpg">
    </div>
    <div class="col-sm-6">
        <h2> Openess </h2>
        <p class="services-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eum ipsam iure
            magnam, necessitatibus nisi nulla optio quos repudiandae sunt suscipit temporibus, vitae voluptate!
            Doloremque, error, eveniet! Recusandae, sit, totam!</p>
    </div>
</div>