<div class="container">
    <div class="row">
        <div class="page-header">
            <h1> Our Passion </h1>
        </div>
        <div class="col-sm-4">
            <img class="img-circle" src="Images/mockup.jpg">
            <p class="paragraph-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad asperiores
                assumenda at consequatur
                corporis distinctio dolorem dolores earum esse est et fugit magni natus quibusdam quisquam, repellat sed
                suscipit.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle" src="Images/laptop1.jpg">
            <p class="paragraph-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad asperiores
                assumenda at consequatur
                corporis distinctio dolorem dolores earum esse est et fugit magni natus quibusdam quisquam, repellat sed
                suscipit.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle" src="Images/mac.jpg">
            <p class="paragraph-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad asperiores
                assumenda at consequatur
                corporis distinctio dolorem dolores earum esse est et fugit magni natus quibusdam quisquam, repellat sed
                suscipit.</p>
        </div>
    </div>
    <br>
    <hr>
    <br>
</div>