<div class="row">
    <% entries.forEach(function (item) { %>
    <div class="col-sm-4">
        <img class="img-circle" src=<%= item.avatar %> alt="<%= item.name %>">
        <h3><%= item.name %></h3>
        <h3><%= item.phone %></h3>
        <h5><%= item.company %></h5>
        <br> <br> <br>
    </div>
    <% }); %>
</div>