<form class="col-md-6" id="reviewid">
    <div class="page-header">
        <h1 style="color: black; text-align: left;"> Submit a review</h1>
    </div>
    <div class="reviews-form">
        <div class="form-group">
            <input class="form-control" id="review-name" placeholder="Name" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" id="review-title" placeholder="Title" type="text">
        </div>

        <div class="form-group">
            <textarea class="form-control" id="review-message" placeholder="Message" rows=6></textarea>
        </div>

        <button type="submit" id="submitbutton" class="btn btn-primary"> Submit</button>
        <br> <br> <br> <br> <br>
    </div>

    <div id="success" class="col-md-12">

    </div>
</form>

<div class="col-md-6 pull-left">
    <div class="page-header">
        <h1 style="color: black;"> Recent Reviews </h1>
    </div>
    <div class="row" style="background-color: #dfdeea">
        <div class="reviewbody" style="margin-left: 30px;">

        </div>
    </div>
</div>


<script>
    $(function () {

        $.getJSON('reviewapi', updateReviews);


        $('#submitbutton').click(function (d) {
            d.preventDefault();
            var name = $('#review-name').val();
            var title = $('#review-title').val();
            var message = $('#review-message').val();

            if (name == '' || title == '' || message == '') {
                var output = '';
                output += '<p id = "failureWindow"> Your query was not submitted. Kindly fill all the textfields above. </p>';
                $('#success').html(output);
            }
            else {
                var result = '';
                result += '<p id = "successWindow" > Your review was successfully submitted. Thank you for your feedback.  </p>';
                $('#success').html(result);


                $.post('/reviewapi', {
                    name: name,
                    title: title,
                    message: message

                }, updateReviews);

                $('#reviewid').each(function () {
                    this.reset();
                });

            }
    });



    function updateReviews(data) {
        var output = '';
        $.each(data, function (key, item) {
            output += '<div class="row">';
            output += '<div class="col-sm-12">';
            output += '<h1>' + item.title + '</h1>';
            output += '<h3>' + item.name + '</h3>';
            output += '<h5>' + item.message + '</h5>';
            output += '<br><hr>';
            output += '</div>';
            output += '</div>';
        });
        $('.reviewbody').html(output);
    }
    })
    ;
</script>
