<!doctype HTML>
<html>
<head>
    <% include partials/customers_components/head_cus.ejs %>

</head>
<body>

<div class="jumbotron" style="text-align: center;">
<h1> Customers page</h1>
</div>
<div class="container" style = "text-align: center;">
    <% include partials/customers_components/maincontent.ejs %>
</div>

</body>
</html>