<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
    <% include partials/style.ejs %>
</head>

<body>
<% include partials/navbar.ejs %>

<section id="main">
    <% include partials/maintext.ejs %>
</section>

<div class="container">
    <% include partials/team.ejs %>
</div>

<div class="container">
    <% include partials/services.ejs %>
</div>
<br>
<hr>
<br>

<section>
    <% include partials/customers.ejs %>
</section>

<div class="container-fluid">
    <% include partials/contact.ejs %>
</div>
<br>
<hr>
<br>

<% include partials/mapwindow.ejs %>

<br>
<hr>
<br>

<% include partials/endbar.ejs %>

<script src="Js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCulOzmRoXWPtyvGSHflESZTavxzR6tYag&callback=initMap"></script>

</body>
</html>