<!doctype HTML>
<html>
<head>
    <% include partials/customers_components/head_cus.ejs %>
    <% include partials/style.ejs %>

</head>
<body>

<div class="jumbotron" style="text-align: center;">
    <h1> Reviews</h1>
</div>
<div class="container-fluid">
    <% include partials/reviews_components/mainform.ejs %>
</div>

</body>
</html>