<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dine</title>
    <link rel="stylesheet" type="text/css" href="web.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Coustard" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--font-family: 'Lobster', cursive;-->
    <style>
        body {
            font-family: 'Coustard', serif;
        }

        section {
            width: 100vw;
            height: 100vh;
            padding: 5px;
        }

        .text {
            text-align: center;
            color: white;
            margin-top: 15%;
        }

        .navbar {
            padding-top: 10px;
            background-color: #7f8ef0;
            background: #7f8ef0;
            border-color: #7f8ef0;
        }
        img{
            width: 400px;
            margin-left:85px;
        }
        img:hover{
            opacity: 0.5;
        }
        .navbar navbar-inverse navbar-fixed-top{
            text-align: center;
        }

    </style>
</head>
<!--<body data-spy = "scroll" data-target=".navbar">-->
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style=" color:white; font-size: 40px; margin-top: 10px;" href="#"> Dine </a>
        </div>

        <ul class="nav navbar-nav navbar-right" style=" font-size: 20px; margin-top: 10px; ">
            <li><a href="#home" style="color: white;">Home</a></li>
            <li><a href="#page1" style="color: white;">Specials</a></li>
            <li><a href="#page2" style="color: white;">About Us</a></li>
            <li><a href="#page3" style="color: white;">Contact</a></li>
            <li style="border: 2px solid white; margin-left: 25px; margin-bottom: 10px; margin-top: 0px;">
                <a class="btn btn-social-icon btn-twitter" style="color: white;">
                    <span class="fa fa-twitter" style="font-size: 20px;"></span>
                </a>
            </li>
            <li style="border: 2px solid white; margin-left: 15px;">
                <a class="btn btn-social-icon btn-facebook" style="color: white;">
                    <span class="fa fa-facebook" style="font-size: 20px;"></span>
                </a>
            </li>
            <li style="border: 2px solid white; margin-left: 15px;">
                <a class="btn btn-social-icon btn-instagram" style="color: white;">
                    <span class="fa fa-instagram" style="font-size: 20px;"></span>
                </a>
            </li>
        </ul>

    </div>
</nav>
<section id="home" style="background-color: #7f8ef0; background-size: 100% 100%;">
    <div class="text" style="border: 5px solid white; margin-left: 25%; margin-right: 25%; padding-bottom: 30px;">
        <h1 style="font-size: 75px"> Dine with us </h1>
        <p style="font-size: 20px">
            143th AVENUE. LONDON
        </p>
        <p style="font-size: 20px">
            TEL= 1 (1234) 6666
        </p> <br>
        <div style="border-top: 5px solid white; margin-left: 35%; margin-right: 35%;">
            <button class="btn btn-default"
                    style="color: white; background: transparent; background-color: transparent; border: 5px solid white; padding: 10px; margin-top: 25px;">
                Contact Us
            </button>
        </div>
    </div>
</section>

<section id = "page1">
    <div class="container-fluid">
        <div class="page-header">
            <h1 style="text-align: center";> What we offer</h1> <br>
            <img class = "img-thumbnail" src = "Images/pic2.jpg">
            <img class = "img-thumbnail" src = "Images/pic3.jpg">
            <img class = "img-thumbnail" src = "Images/pic4.png">
            <img class = "img-thumbnail" src = "Images/dew.jpg">
            <img class = "img-thumbnail" src = "Images/sunset1.jpg">
            <img class = "img-thumbnail" src = "Images/pic1.jpg">
        </div>
    </div>
</section>

<section id = "page2" style="background-color: #7f8ef0; color: white;">
    <div class = "container">
        <div class = "page-header">
            <h1 style="text-align: center;"> About Us</h1>
        </div>
        <div style="font-size: 20px;">
            <div class=" col-sm-4">
                <p> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
            </div>
            <div class=" col-sm-4">
                <p> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
            </div>
            <div class=" col-sm-4">
                <p> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
            </div></div>
    </div>
</section>

<section id = "page3">
    <div class="page-header">
        <h1 style = "text-align: center;"> Contact Us</h1>
    </div>
    <form class="col-md-5 col-md-offset-4">
        <div class="form-group">
            <input class = "form-control" placeholder="Name" type="text">
        </div>
        <div class="form-group">
            <input class = "form-control" placeholder="Email" type="text">
        </div>
        <div class="form-group">
            <input class = "form-control" placeholder="Subject" type="text">
        </div>

        <div class="form-group">
            <textarea class="form-control" rows = 10 >Comments</textarea>
        </div>

        <button class ="btn btn-primary"> Submit;</button>
    </form>
</section>
</body>
</html>