.wrapper{
    height: 100%;
    /*background-image: url(Images/dew.jpg);*/
}

.heading{
    font-size: 100px;
    text-align: center;
    margin: 0%;
    padding: 10px;
    border : 10px solid #de4c72;
    margin: 10%;
    outline: 40px;
    outline-color: #de4c72;
    outline-style: dashed;
    /*outline-width: 60px;*/
}

.paragraph0{
    color: #7f8ef0;
    text-shadow: 8px 8px #7af051;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 20px;
    text-align: center;
    border-bottom-style: solid;
    border-top-style: solid;
    font-size: 50px;
    border-width: 10px;
    border-color: #4eb1ee;
    margin-bottom: 5%;
    padding: 5%;

}

.paragraph1{
    border: 10px dotted orange;
    text-align: center;
    font-size: 50px;
    margin-bottom: 5%;
    padding: 5%;
}

.first ,.second, .third{
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 10%;
    font-size: 25px;
    text-align: center;
    border: 15px solid mediumspringgreen;
}

ul.list1{
    text-align: center;
    list-style-type: upper-roman;
    list-style-position: inside;
    background: #4eb1ee;
    border: 5px solid #7658ff;
    margin-left: 10%;
    margin-right: 10%;
}

.table{
    border: 5px solid #0bcaff;
}

.row{
    font-size: 25px;
    text-align: center;
    border-bottom: 5px solid red;
}
dl.list{
    font-size: 25px;
    background-color: black;
    color: white;
    border: 10px solid red;
    margin-right: 50%;
    padding-left: 2%;
}
.jumbotron{
    text-align: center;
}
/*.second{*/
    /*margin: 5%;*/
    /*padding: 10%;*/
    /*font-size: 25px;*/
    /*text-align: center;*/
    /*border: 25px solid mediumspringgreen;*/
/*}*/
/*.third{*/
    /*margin: 5%;*/
    /*padding: 10%;*/
    /*font-size: 25px;*/
    /*text-align: center;*/
    /*border: 25px solid mediumspringgreen;*/
/*}*/
